<!DOCTYPE HTML>
<html>
<head>
	<title> Javascript demo </title>
	<meta charset="utf-8">
	<style>
		.container{
			width:500px;
			height:fit-content;
			background-color:orange;
			display:grid;
			grid-auto-flow: row;
			grid-template-columns: 1fr 1fr 1fr;
			grid-auto-rows: fit-content;
			grid-gap: 5px;
			margin: auto;
			border-radius:10px;
			padding:15px;
		}
		.shapka
		{
			text-align:center;
			color: white;
			grid-column: span 3; /*Занимает 3 столбца сетки*/
		}
		.dopoln, .raschet{
			text-align:center;
			color: white;
			grid-column: span 3;
		}
		.text-danger{
			background-color:red;
		}
	</style>
	<script src="vue.global.js"></script> <!--подключаем Vue.js--> 
</head>
<body>
	<div class="container">
		<div class="shapka">
			<h2>Параметры кредита</h2>
			Настройки калькулятора позволяют задавать дополнительные параметры кредита, но нужно учитывать, что в каждом банке есть свои особенности расчетов
		</div>
		<!-- Заполняем строку сетки -->
		<div class="label">Сумма кредита: </div>
		<div class="input">
			<input type = "text" v-model="summa" :class="{'text-danger': summaError }" ></input>
		</div>         <!-- класс 'text-danger' вешается при истинности флажка summaError --> 
		<div class="input">
			<select v-model="valuta">
				<option value="RUB">Руб</option>
				<option value="USD">$</option>
				<option value="EUR">Euro</option>
			</select>
		</div>
		<div class="label">Срок кредита: </div>
		<div class="input">
			<input type = "text" v-model="srok" :class="{'text-danger': srokError }"></input>
		</div>
		<div class="input">
			<select v-model = "srokUnits">
				<option value="month">мес.</option>
				<option value="year">лет</option>
			</select>
		</div>
		<div class="label">Процентная ставка: </div>
		<div class="input">
			<input type = "text" v-model="perc" :class="{'text-danger': percError }"></input>
		</div>
		<div class="input">
			<select v-model="percUnits">
				<option value="month">в мес.</option>
				<option value="year">в год</option>
			</select>
		</div>
		<div class="dopoln">
			Дополнительные параметры: <a> показать </a>
			{{summa}} {{srok}} {{perc}}
		</div>
		<div class="raschet">
			<mybutton title="Рассчитать"> </mybutton>
		</div>
		<div class="dopoln">
			{{Calculate(summa,srok,perc,valuta,srokUnits,percUnits)}}
			<!-- функция вызывается в шаблоне, Vue отслеживает изменения всех переменных в шаблоне сама и перевызывает функцию-->
		</div>
		<credit_table  :payments='payments' style="grid-column: span 3;">
		</credit_table>
	</div>
</body>
<script>


const { createApp, ref } = Vue // Инициализируем Vue

let app=  createApp({ // Создается объект Vue
     data() { // конструктор данных
		return {
		summa: 300000, // Создаем переменные для шаблона
		summaError: false, // Флажок ошибки
		srok: 12, // Действие
		srokError: false,
		perc: 10, // Переменная - предыдущее число
		percError: false,
		valuta:"RUB",
		srokUnits:"month",
		percUnits:"year",
		visible:false,
		payments:[],
		}
	},
	methods: // Набор доступных методов для обработки 
	{
		Calculate(summa,srok,perc,valuta,srokUnits,percUnits) // Обработчик событий с доступом к переменным шаблона
		{ 
			if (this.summaError || this.srokError || this.percError)
			{
				return "Ошибка ввода";
			}
			if (srokUnits=="year")
			{
				srok=srok*12;
			}
			if (percUnits=="year")
			{
				perc=perc/12;
			}
			let S = Number(summa);
			let P = Number(perc)/100/12;
			let N = Number(srok);
			let x = S*(P+ P/(Math.pow(1+P,N)-1));
			let result = x.toFixed(2);
			let p_array=[];
			for (i=0;i<N;i++)
			{
				p_array[i]={month:i,ostatok:(S-i*result).toFixed(2),payment:result};
			}
			this.payments = p_array;
			return `Ежемесячный платеж ${result}`;
		},
	},
	watch: { // Валидатор ввода, срабатывает при изменении поля v-model
        summa: function(val, oldVal) {
          if (isNaN(Number(val)))
		  {
			 this.summaError=true;
		  } else{
			this.summaError=false;
		  }
        },
		srok: function(val, oldVal) {
          if (isNaN(Number(val)))
		  {
			 this.srokError=true;
		  } else{
			this.srokError=false;
		  }
		},
		perc: function(val, oldVal) {
          if (isNaN(Number(val)))
		  {
			 this.percError=true;
		  } else{
			this.percError=false;
		  }
		}
	}
  })
app.component('mybutton', // Задание компоненты через JS 
	{	props: ['title'],
		setup() {
			const count = ref(0)
			return { count }
		},
		template: `
			<button style="background-color:yellow; font-size:40px;" @click="count++">
			{{title}} нажали  {{ count }} раз .
			</button>`
	}
)

app.component('credit_table', // Задание компоненты через JS 
	{	props: ['payments'], // Массив платежей и месяцев вида [{month,year,payment}]
		setup(props) {
		},
		template: `
			<table style="background-color:green;height:100%;width:100%;">
				<tr>
					<th>Месяц</th> <th> Год </th> <th>Платеж</th>
				</tr>
				<tr v-for="item in payments">
					<td>{{item.month+1}}</td>
					<td>{{item.ostatok}}</td>
					<td>{{item.payment}}</td>
				</tr>
			</table>`
	}
)

app.mount('.container') // Цепляем объект Vue.JS

</script>